{{ form_start(form) }}


<div class="panel panel-info">
    <div class="panel-body">
        {{ form_widget(form) }}
        <button class="btn btn-info pull-right">{{ button_label|default('Poster') }}</button>
        <div class="clearfix"></div>
        <hr>
    </div>
</div>


{{ form_end(form) }}
